* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inconsolata-font {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #cdb4db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.heading {
  margin-top: -40px;
  font-size: 2rem;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
}

.url {
  height: 40px;
  width: 450px;
  padding: 0 10px;
  font-size: medium;
  border: none;
  outline: none;
  border-radius: 20px;
}

.btn {
  height: 40px;
  width: 55px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.summary-container {
  height: 400px;
  width: 800px;
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
}

.summary {
  text-align: left;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .url {
    width: 80%;
  }
  .summary-container {
    width: 90%;
  }
}
